*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body::-webkit-scrollbar{
    display: none;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
}

.navlist{
    display: flex;
}

.navlist a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
    text-decoration: none;
}

.navlist a:hover{
    color: var(--main-color);
}

.navlist a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
}

/*HOME*/

.home{
    background-image: url(../images/banner-1.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
}

/*ABOUT*/

.about{
    background-color: #E3C9F8;
    height: 100vh;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
}

/*SHOP*/

.shop{
    background-color: #E3C9F8;
    height: 100vh;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
}

/*GALLERY*/

.gallery{
    background-color: #E3C9F8;
    height: 100vh;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
}