*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.home{
    height: 100vh;
    width: 100%;
    color: white;
}

#home-img{
    border-radius: 75% 50% 75% 50%;
    margin: auto;
}

.lead{
    border: solid white 1px;
    border-radius: 25px;
    width: fit-content;
    padding: 5px 10px;
}

.home-arrow{
    width: 35px;
    height: 35px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    padding-right: 5px;
}

#home-bottom-text{
    display: flex;
    justify-content: end;
}