@font-face {
    font-family: the-seasons-font;
    src: url(../fonts/The-Seasons-Reg.otf);
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

/*HOME*/
.home{
    height: 100vh;
    width: 100%;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-title{
    font-family: the-seasons-font;
    font-size: 4.688rem;
    letter-spacing: 0.156rem;
}

#home-img{
    border-radius: 75% 50% 75% 50%;
    margin: auto;
}

.home-lead{
    border: solid white 1px;
    border-radius: 25px;
    width: fit-content;
    padding: 10px 15px;
}

.home-arrow{
    width: 35px;
    height: 35px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    padding-right: 5px;
}

#home-bottom-text{
    display: flex;
    justify-content: end;
}

/*ABOUT*/
.about{
    height: 100vh;
    width: 100%;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-text{
    font-family: the-seasons-font;
    font-size: 4.688rem;
    letter-spacing: 0.156rem;
}

#about-img{
    border-radius: 25% 70% 25% 70%;
    margin: auto;
}

.about-hr{
    height: 2px;
    color: white;
    background-color: white;
    border-radius: 2px;
    margin-top: 20px;
}
